pgm 1

In [ ]:
n1=int(input("enter the number : "))
n2=int(input("enter the number : "))

if n1>n2:
  print(n1,"greater than ", n2)
elif n2>n1:
  print(n2,"greater than ",n1)

enter the number : 5
enter the number : 7
7 greater than  5

pgm 2

In [ ]:
n=int(input("enter the number : "))

if n%2==0:
  print(n,"is a even number")
else:
  print(n,"is an odd number")

enter the number : 3
3 is an odd number

pgm 3

In [ ]:
n=int(input("enter the number"))

if n>0:
  print('positive')
elif n<0:
  print('negative')
else:
  print('zero')

enter the number-7
negative

pgm 4

In [ ]:
n=int(input("enter the digit"))

if 9<n<100:
  print("it is a two digit number")
else:
  print("not a two digit number")

enter the digit9
not a two digit number

pgm 5

In [ ]:
n1=int(input("enyer the first number"))
n2=int(input("enter the number"))
n3=int(input("enter the number"))

if n1<n2 and n1<n3:
  print(n1,'is smallest number')
elif n1>n2 and n2<n3:
  print(n2,"is smallest number")
else:
  print(n3,"is smallest number")

enyer the first number7
enter the number9
enter the number8
7 is smallest number

Pgm 6

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

smallest = num1 if (num1 < num2 and num1 < num3) else (num2 if num2 < num3 else num3)

print("The smallest number is:", smallest)

Enter the first number: 5
Enter the second number: 3
Enter the third number: 2
The smallest number is: 2

Pgm 7

In [ ]:

two_digit_number = int(input("Enter a two-digit number: "))

tens_digit = two_digit_number // 10
units_digit = two_digit_number % 10

smallest_digit = tens_digit if tens_digit < units_digit else units_digit

print("The smallest digit is:", smallest_digit)

Enter a two-digit number: 12
The smallest digit is: 1

Pgm 8

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

is_divisible = num1 % num2 == 0

if is_divisible:
    print(f"{num1} is divisible by {num2}.")
else:
    print(f"{num1} is not divisible by {num2}.")

Enter the first number: 12
Enter the second number: 5
12 is not divisible by 5.

Pgm 9

In [ ]:

p1 = float(input("Enter the first point on the number line: "))
p2 = float(input("Enter the second point on the number line: "))

distance = abs(p2 - p1)

print(f"The distance between {p1} and {p2} on the number line is: {distance}")

Enter the first point on the number line: 1
Enter the second point on the number line: 9
The distance between 1.0 and 9.0 on the number line is: 8.0

Pgm 10

In [ ]:
year = int(input("Enter a year: "))

is_leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

if is_leap_year:
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.