Pgm 1

In [ ]:
n = int(input("Enter the value of n: "))
oddnumbers = [2*i + 1 for i in range(n)]
print("First", n, "odd numbers:", oddnumbers)

Enter the value of n: 16
First 16 odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

Pgm 2

In [ ]:

number = int(input("Enter a number: "))
temp = number
rev = 0

while number > 0:
    digit = number % 10
    rev = rev * 10 + digit
    number = number // 10

if temp == rev:
    print(f"{temp} is a palindrome.")
else:
    print(f"{temp} is not a palindrome.")

Enter a number: 123321
123321 is a palindrome.

Pgm 3

In [ ]:
binary_num = input("Enter a binary number: ")
decimal_num = int(binary_num, 2)
print("Decimal equivalent:", decimal_num)

Enter a binary number: 100
Decimal equivalent: 4

Pgm 4

In [ ]:
n = int(input("Enter the value of n: "))
sumofnatural = n * (n + 1) // 2
print("Sum of first", n, "natural numbers:", sumofnatural)

Enter the value of n: 4
Sum of first 4 natural numbers: 10

Pgm 5

In [ ]:
number = int(input("Enter a number: "))
reverse_number = 0

while number > 0:
    digit = number % 10
    reverse_number = reverse_number * 10 + digit
    number = number // 10

print("Reverse:", reverse_number)

Enter a number: 12
Reverse: 21

Pgm 6

In [ ]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial of", n, "is:", fact)

Enter a number: 5
Factorial of 5 is: 120

Pgm 7

In [ ]:
num = int(input("Enter a number: "))
sq = num ** 2
digits_num = len(str(num))
end_digits = sq % (10 ** digits_num)

if end_digits == num:
    print(f"{num} is an Automorphic number.")
else:
    print(f"{num} is not an Automorphic number.")

Enter a number: 76
76 is an Automorphic number.

Pgm 8

In [ ]:
number = int(input("Enter a number: "))
sum_fact = 0

for i in range(1, number + 1):
    if number % i == 0:
        sum_fact += i

print("Sum of factors of", number, "is:", sum_fact)

Enter a number: 12
Sum of factors of 12 is: 28

Pgm 9

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

while num2 != 0:
    temp = num2
    num2 = num1 % num2
    num1 = temp

gcd = num1
print("GCD of the two numbers is:", gcd)

Enter the first number: 5
Enter the second number: 6
GCD of the two numbers is: 1

Pgm 10

In [ ]:
number = int(input("Enter a number: "))
temp = number
num_digits = len(str(number))
sum_arm = 0

while number > 0:
    digit = number % 10
    sum_arm += digit ** num_digits
    number = number // 10

if temp == sum_arm:
    print(f"{temp} is an Armstrong number.")
else:
    print(f"{temp} is not an Armstrong number.")

Enter a number: 153
153 is an Armstrong number.

Pgm 11

In [ ]:
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))

squares = [i ** 2 for i in range(start, end + 1)]
print("Squares of natural numbers between", start, "and", end, "are:", squares)

Enter the starting number: 1
Enter the ending number: 4
Squares of natural numbers between 1 and 4 are: [1, 4, 9, 16]

Pgm 11

In [ ]:
n = int(input("Enter the value of n: "))
sum_series = 0

for i in range(1, n + 1):
    term = (-1) ** (i + 1) * i ** 2
    sum_series += term

print("Sum up to the series is:", sum_series)

Enter the value of n: 11
Sum up to the series is: 66

Pgm 12

In [ ]:
x = float(input("Enter the value of x: "))
n = int(input("Enter the value of n: "))
result = 1

for _ in range(n):
    result *= x

print(f"{x} raised to the power of {n} is:", result)

Enter the value of x: 2
Enter the value of n: 3
2.0 raised to the power of 3 is: 8.0

Pgm 13

In [ ]:
n = int(input("Enter the number of terms in the Fibonacci series: "))
fibonacci_series = [0, 1]

for i in range(2, n):
    next_term = fibonacci_series[i - 1] + fibonacci_series[i - 2]
    fibonacci_series.append(next_term)

print("Fibonacci series:", fibonacci_series)

Enter the number of terms in the Fibonacci series: 3
Fibonacci series: [0, 1, 1]