pgm 1

In [ ]:
num1=int(input("enter first number : "))
num2=int(input("enter 2nd number : "))
sum=num1+num2

print("sum=",sum)

enter first number : 5
enter 2nd number : 7
sum= 12

pgm 2

In [ ]:
a=int(input("enter the side : "))
b=int(input("enter the side : "))
c=int(input("enter the side : "))

perimeter=a+b+c
area=.5*(a*b)

print("perimeter of traingle : ",perimeter)
print("area of traingle",area)

enter the side : 4
enter the side : 3
enter the side : 5
perimeter of traingle :  12
area of traingle 6.0

pgm 3

In [ ]:
r=int(input("raduis of the circle :"))
area=3.14*r*r
print("area of the circle",area)

raduis of the circle :5
area of the circle 78.5

pgm 4

In [ ]:
a=int(input("enter the 1st number : "))
b=int(input("enter the 2nd number : "))
c=int(input("enter the 3rd number : "))

sum=a+b+c

avg=sum//3



print("sum is",sum)
print("avg is",avg)

enter the 1st number : 9
enter the 2nd number : 7
enter the 3rd number : 3
sum is 19
avg is 6

pgm 5

In [ ]:
total_days = int(input("Enter the total number of days: "))

years = total_days // 365
remaining_days = total_days % 365
months = remaining_days // 30
days = remaining_days % 30

print("Years:", years, "Months:", months, "Days:", days)

Enter the total number of days: 2456
Years: 6 Months: 8 Days: 26

pgm 6

In [ ]:
seconds=int(input("enter the seconds"))
hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60
print("Hours:", hours, "Minutes:", minutes, "Seconds:", remaining_seconds)

enter the seconds630
Hours: 0 Minutes: 10 Seconds: 30

pgm 7

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

sum_result = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum_result, "Difference:", difference, "Product:", product, "Quotient:", quotient)

Enter the first number: 9
Enter the second number: 6
Sum: 15 Difference: 3 Product: 54 Quotient: 1.5

pgm 8

In [ ]:
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

root1 = (-b + (b**2 - 4*a*c)**0.5) / (2*a)
root2 = (-b - (b**2 - 4*a*c)**0.5) / (2*a)

print("Root 1:", root1, "Root 2:", root2)

Enter a: 2
Enter b: 4
Enter c: 2
Root 1: -1.0 Root 2: -1.0

pgm 9

In [ ]:
subject1 = int(input("Enter marks  "))
subject2 = int(input("Enter marks : "))
subject3 = int(input("Enter marks  "))
subject4 = int(input("Enter marks  "))
subject5 = int(input("Enter marks  "))

total_marks = subject1 + subject2 + subject3 + subject4 + subject5
percentage = (total_marks / 500) * 100
print("Percentage:", percentage)

Enter marks  23
Enter marks : 45
Enter marks  56
Enter marks  56
Enter marks  67
Percentage: 49.4

pgm 10

In [ ]:
celsiustemperature = float(input("Enter temperature in Celsius: "))
fahrenheittemperature = (celsiustemperature * 9/5) + 32

print("Temperature in Fahrenheit:", fahrenheittemperature)

Enter temperature in Celsius: 34
Temperature in Fahrenheit: 93.2